<%- include('./layout/header.ejs') %>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- PAGE CONTAINER
    ================================================== -->
    <div class="page-container">

        <!-- PAGE SIDEBAR
        ================================================== -->
        <div class="page-sidebar">
            <a class="logo-box" href="index.html">
                <img src="../users/img/logos/logo-footer.png" alt="...">
                <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
                <i class="icon-close" id="sidebar-toggle-button-close"></i>
            </a>
            <div class="page-sidebar-inner">
                <div class="page-sidebar-menu">
                    <ul class="accordion-menu">
                        <li>
                            <a href="/admin/dashboard"> <i class="menu-icon icon-home4"></i><span>Dashboard</span> </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-inbox"></i><span>Category</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul>
                                <li><a href="/admin/list-categories">Category</a></li>
                                <li><a href="/admin/add-category">Add Categories</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-layers"></i><span>Products</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul>
                                <li><a href="/admin/list-products">Products</a></li>
                                
                                <li><a href="/admin/add-products">Add Products</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-flash_on"></i><span>Orders</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul>
                                <li><a href="/admin/orders">Orders</a></li>
                                <li><a href="/admin/order-details">Order Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/list-users"> <i class="menu-icon icon-code"></i><span>Customers</span> </a>
                        </li>
                        <li>
                            <a href="/admin/coupon">
                                <i class="menu-icon icon-format_list_bulleted"></i><span>Coupons</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <!-- <ul>
                                <li><a href="/admin/list-coupons">Coupons</a></li>
                                 <li><a href="/admin/create-coupons">Create Coupons</a></li> 
                            </ul> -->
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-layers"></i><span>Banner</span><i class="accordion-icon fa fa-angle-left"></i>
                            </a>
                            <ul>
                                <li><a href="/admin/list-banner">Banner</a></li>
                                
                                <li><a href="/admin/add-banner">Add Banner>
                            </ul>

                        </li>
                        <li>
                            <a href="/admin/sales-report"> <i class="menu-icon icon-code"></i><span>Sales Report</span> </a>
                        </li>
                        <li class="menu-divider"></li>
                        <li>
                            <a href="#"> <i class="menu-icon icon-public"></i><span>Logout</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT
        ================================================== -->
        <div class="page-content">

            <!-- PAGE HEADER
            
            PAGE INNER
            ================================================== -->
            <div class="page-inner">

                <!-- PAGE MAIN WRAPPER
                ================================================== -->
                <div id="main-wrapper">
                    <!-- row -->
                    <div class="row g-xl-3">
                        <div class="col-xl-8 grid-margin">
                            <div class="card card-white mb-3">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Edit Product</h4>
                                    <% if(typeof imgfull !== 'undefined'){ %>
                                        <div > <h1 style="color: red;">only 4 images will allow !!</h1></div> 
                                        <% } %>
                                </div>
                                <div class="card-body">
                                    <form class="needs-validation" novalidate action="/admin/edit-product/<%= product._id %>" method="post" id="updateProductForm">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <label for="validationCustom01">Product Name</label>
                                                <input type="text" class="form-control" id="validationCustom01" name="name" value="<%= product.name %>"  required>
                                                <div class="invalid-feedback">Please enter product Name</div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom02">Price</label>
                                                <input type="text" class="form-control" id="validationCustom02" name="price" value="<%= product.price %>" required>
                                                <div class="invalid-feedback">Please enter price</div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="category">Category</label>
                                                <select name="category" class="form-select" aria-label="Default select example" id="category">
                                          
                                                  <option selected>
                                                    <% if(product.category){ %> 
                                                        <%= product.category.name %>
                                                        <% } %> 
                                                   
                                                  </option>
                                                  <% category.forEach((value)=>{ %>
                                                    <option value="<%= value.name %>">
                                                      <%= value.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                                <div class="invalid-feedback">Please enter category</div>
                                              </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom03">Description</label>
                                                <input type="text" class="form-control" id="validationCustom03" name="description" value="<%= product.description %>" required>
                                                <div class="invalid-feedback">Please enter description</div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom04">Quantity</label>
                                                <input type="text" class="form-control" id="validationCustom04" name="quantity" value="<%= product.quantity %>" required>
                                                <div class="invalid-feedback">Please enter quantity</div>
                                            </div>
                                            
                                            <div>
                                                <% for(var i=0 ; i<=3;i++){ %>
                                                <img src="/users/img/product-categories/<%= product.image[i] %>" alt="" style="width: 100px;">
                                               <% } %>
                                               <div class="invalid-feedback">Please enter image</div>
                                            </div>
                                            <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Edit image
                                            </button>
                                            <% if(typeof imgfull !== 'undefined'){ %>
                                                <p style="color:red;">image limit is full</p>
                                           <% } %>
                                            <input type="hidden" name="id" value="<%= product._id %>">
                                      
                                            <button type="submit" class="btn btn-primary" value="Update Category">Submit</button>

                                            <% 
                                            if(typeof message !== 'undefined'){
                                                %>
                                                <div class="alert alert-success" role="alert">
                                                <%= message %>
                                            </div>
                                            <%
                                            }
                                            %>
                                            
                                        </div>
                                    </form>

                                </div>
                            </div>
                           
                            
                        </div>
                                
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Image</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <form action="/admin/edit-image/<%= product._id %>" method="post" enctype="multipart/form-data">
            <div class="modal-body">
            <div>  
              <label class="form-label" for="basic-default-message">Image</label>
              <input type="file" multiple name="image" style="border: 1px solid #000;">
          </div>
            <br>
  
            <% product.image.forEach((x)=>{ %>
              <div style="background-color: rgb(255, 255, 255);width: 100%;height: 80px;border: solid;">
              <img style="width: 80px; height: 80px;" src="/users/img/product-categories/<%= x %>" alt="">
              <a href="/admin/delete-product-image/<%= x %>/<%- product._id %> " style="float: right;" class="btn btn-danger my-3">delete</a>
              </div>
              <% }) %>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          
          </form>
        
        
      </div>
    </div>
  </div>
          
                    </div>
                    <!-- end row -->
                </div>

                <div class="page-footer">
                    <p>Copyright &copy; <span class="current-year"></span> Smartshop All rights reserved.</p>
                </div>
            </div>

            <!-- PAGE MAIN RIGHT SIDEBAR
            ================================================== -->
            <div class="page-right-sidebar" id="main-right-sidebar">
                <div class="page-right-sidebar-inner">
                    <div class="right-sidebar-top">
                        <div class="right-sidebar-tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active" id="chat-tab"><a href="#chat" aria-controls="chat" role="tab" data-bs-toggle="tab">chat</a></li>
                                <li role="presentation" id="settings-tab"><a href="#settings" aria-controls="settings" role="tab" data-bs-toggle="tab">settings</a></li>
                            </ul>
                        </div>
                        <a href="#" class="right-sidebar-toggle right-sidebar-close" data-sidebar-id="main-right-sidebar"><i class="icon-close"></i></a>
                    </div>
                    <div class="right-sidebar-content">
                        <!-- start tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="chat">
                                <div class="chat-list">
                                    <span class="chat-title">Recent</span>
                                    <a href="#" class="right-sidebar-toggle chat-item unread" data-sidebar-id="chat-right-sidebar">
                                        <div class="user-avatar">
                                            <img src="img/avatars/chat01.jpg" alt="...">
                                        </div>
                                        <div class="chat-info">
                                            <span class="chat-author">David</span>
                                            <span class="chat-text">where u at?</span>
                                            <span class="chat-time">08:50</span>
                                        </div>
                                    </a>
                                    <a href="#" class="right-sidebar-toggle chat-item unread active-user" data-sidebar-id="chat-right-sidebar">
                                        <div class="user-avatar">
                                            <img src="img/avatars/chat02.jpg" alt="...">
                                        </div>
                                        <div class="chat-info">
                                            <span class="chat-author">Daisy</span>
                                            <span class="chat-text">Daisy sent a photo.</span>
                                            <span class="chat-time">11:34</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="chat-list">
                                    <span class="chat-title">Older</span>
                                    <a href="#" class="right-sidebar-toggle chat-item" data-sidebar-id="chat-right-sidebar">
                                        <div class="user-avatar">
                                            <img src="img/avatars/chat03.jpg" alt="...">
                                        </div>
                                        <div class="chat-info">
                                            <span class="chat-author">Tom</span>
                                            <span class="chat-text">You: ok</span>
                                            <span class="chat-time">2d</span>
                                        </div>
                                    </a>
                                    <a href="#" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                                        <div class="user-avatar">
                                            <img src="img/avatars/chat04.jpg" alt="...">
                                        </div>
                                        <div class="chat-info">
                                            <span class="chat-author">Anna</span>
                                            <span class="chat-text">asdasdasd</span>
                                            <span class="chat-time">4d</span>
                                        </div>
                                    </a>
                                    <a href="#" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
                                        <div class="user-avatar">
                                            <img src="img/avatars/chat05.jpg" alt="...">
                                        </div>
                                        <div class="chat-info">
                                            <span class="chat-author">Liza</span>
                                            <span class="chat-text">asdasdasd</span>
                                            <span class="chat-time">&nbsp;</span>
                                        </div>
                                    </a>
                                    <a href="#" class="load-more-messages" data-bs-toggle="tooltip" data-placement="bottom" title="Load More">&bull;&bull;&bull;</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="settings">
                                <div class="right-sidebar-settings">
                                    <span class="settings-title">General Settings</span>
                                    <ul class="sidebar-setting-list list-unstyled">
                                        <li>
                                            <span class="settings-option">Notifications</span>
                                            <input type="checkbox" class="js-switch" checked />
                                        </li>
                                        <li>
                                            <span class="settings-option">Activity log</span>
                                            <input type="checkbox" class="js-switch" checked />
                                        </li>
                                        <li>
                                            <span class="settings-option">Automatic updates</span>
                                            <input type="checkbox" class="js-switch" />
                                        </li>
                                        <li>
                                            <span class="settings-option">Allow backups</span>
                                            <input type="checkbox" class="js-switch" />
                                        </li>
                                    </ul>
                                    <span class="settings-title">Account Settings</span>
                                    <ul class="sidebar-setting-list list-unstyled">
                                        <li>
                                            <span class="settings-option">Chat</span>
                                            <input type="checkbox" class="js-switch" checked />
                                        </li>
                                        <li>
                                            <span class="settings-option">Incognito mode</span>
                                            <input type="checkbox" class="js-switch" />
                                        </li>
                                        <li>
                                            <span class="settings-option">Public profile</span>
                                            <input type="checkbox" class="js-switch" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGE CHAT RIGHT SIDEBAR
            ================================================== -->
            <div class="page-right-sidebar" id="chat-right-sidebar">
                <div class="page-right-sidebar-inner">
                    <div class="right-sidebar-top">
                        <div class="chat-top-info">
                            <span class="chat-name">Noah</span>
                            <span class="chat-state">2h ago</span>
                        </div>
                        <a href="#" class="right-sidebar-toggle chat-sidebar-close float-end" data-sidebar-id="chat-right-sidebar"><i class="icon-keyboard_arrow_right"></i></a>
                    </div>
                    <div class="right-sidebar-content">
                        <div class="right-sidebar-chat slimscroll">
                            <div class="chat-bubbles">
                                <div class="chat-start-date">02/03/2019 5:58PM</div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="img/avatars/chat06.jpg" alt="...">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello</span>
                                    </div>
                                </div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello!</span>
                                    </div>
                                </div>
                                <div class="chat-start-date">03/02/2019 5:18AM</div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">lorem</span>
                                    </div>
                                </div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="img/avatars/chat07.jpg" alt="...">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">ipsum dolor sit amet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-write">
                            <form class="form-horizontal" action="#">
                                <input type="text" class="form-control" placeholder="Say something">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>
<script>
$(document).ready(function() {
    $('#updateProductForm').on('submit', function(e) {
        e.preventDefault(); // prevent form submission

        // Get the form data
        var formData = $('#updateProductForm').serialize();

        // Send the AJAX request
        $.ajax({
            url: "/product/" + product._id,
            type: "PUT",
            data: formData,
            success: function(response) {
                // handle success response
                console.log(response);
                // Redirect to the product list page
                window.location.href = '/admin/list-products';
            },
            error: function(error) {
                // handle error response
                console.log(error);
            }
        });
    });
});
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict';


      const forms = document.querySelectorAll('.needs-validation');


      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
   
    <%- include('./layout/footer.ejs') %>