
<%- include('./layout/header.ejs') %>
<%- include('./layout/nav.ejs') %>
      

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/users/img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Your Address</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="#">Your <Address></Address></a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- ACCOUNT ADDRESS
        ================================================== -->
        <section class="md">
            <div class="container" id="reloadDiv">
                <div class="row">





                    <div class="row text-center mt-n4">
                        <% console.log(user.address.length) %>
                        <% if(user.address.length>0 ){
                            user.address.forEach((x,index)=>{ %>
                            <%console.log(index)%>
                                <div class="col-md-3 mt-4">
                                    <div class="border px-1-6 py-1-9 p-lg-1-9 h-100">
                                        <strong>
                                            <%= x.name %>
                                        </strong> <br>
                                        <%= x.address %> <br>
                                            <%= x.place %> <br>
                                                <%= x.state %> <br>
                                                    <%= x.mobile %> <br>
                                                        <%= x.pincode %> <br>
                                                            <%= x.house_no %> <br>


                                                                <hr>
                                                                <button style="border: none;" class="btn btn-dark"
                                                                    onclick="delete_address('<%= x._id %>')">
                                                                    Remove </button>
                                                                <button type="" class="btn btn-warning"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#add<%= x._id%>">
                                                                    Edit
                                                                </button>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="add<%= x._id%>"
                                                                    tabindex="-1" role="dialog"
                                                                    aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="exampleModalLabel">
                                                                                    Edit
                                                                                    Address</h5>
                                                                                <button type="button"
                                                                                    class="btn-close"
                                                                                    data-bs-dismiss="modal"
                                                                                    aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form method="post" id="myform"
                                                                                    class="row g-3 needs-validation"
                                                                                    action="/edit-address"
                                                                                    novalidate>

                                                                                    <div class="row">

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <input type="hidden"
                                                                                                    name="addressIndex"
                                                                                                    value="<%= index%>">
                                                                                                <label>Full
                                                                                                    Name</label>
                                                                                                <input type="text"
                                                                                                    class="form-control"
                                                                                                    name="name"
                                                                                                    value="<%= x.name %>"
                                                                                                    required>
                                                                                                <div
                                                                                                    class="invalid-feedback">
                                                                                                    Please Enter
                                                                                                    Name</div>
                                                                                            </div>

                                                                                        </div>

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <label>Phone
                                                                                                    Number</label>
                                                                                                <input type="text"
                                                                                                    class="form-control"
                                                                                                    name="mobile"
                                                                                                    value="<%= x.mobile %>"
                                                                                                    required>
                                                                                            </div>

                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="row">

                                                                                        <div class="col-sm-6">
                                                                                            <input name="id"
                                                                                                type="hidden"
                                                                                                value="<%= x._id %>">
                                                                                            <div class="form-group">
                                                                                                <label>Address</label>
                                                                                                <input type="text"
                                                                                                    class="form-control"
                                                                                                    name="address"
                                                                                                    value="<%= x.address %> ">
                                                                                            </div>

                                                                                        </div>

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <label>State</label>
                                                                                                <select
                                                                                                    class="form-control form-select"
                                                                                                    name="state">
                                                                                                    <option
                                                                                                        value="<%= x.state %>"
                                                                                                        selected="selected">
                                                                                                        <%= x.state
                                                                                                            %>
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Andhra Pradesh">
                                                                                                        Andhra
                                                                                                        Pradesh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Arunachal Pradesh">
                                                                                                        Arunachal
                                                                                                        Pradesh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Assam">
                                                                                                        Assam
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Bihar">
                                                                                                        Bihar
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Chhattisgarh">
                                                                                                        Chhattisgarh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Goa ">
                                                                                                        Goa
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Gujarat ">
                                                                                                        Gujarat
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Haryana ">
                                                                                                        Haryana
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Himachal Pradesh ">
                                                                                                        Himachal
                                                                                                        Pradesh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Jharkhand ">
                                                                                                        Jharkhand
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Karnataka ">
                                                                                                        Karnataka
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Kerala ">
                                                                                                        Kerala
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Madhya Pradesh ">
                                                                                                        Madhya
                                                                                                        Pradesh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Maharashtra ">
                                                                                                        Maharashtra
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Manipur ">
                                                                                                        Manipur
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Meghalaya ">
                                                                                                        Meghalaya
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Mizoram ">
                                                                                                        Mizoram
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Nagaland ">
                                                                                                        Nagaland
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Odisha ">
                                                                                                        Odisha
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Punjab ">
                                                                                                        Punjab
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Rajasthan ">
                                                                                                        Rajasthan
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Sikkim ">
                                                                                                        Sikkim
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Tamil Nadu ">
                                                                                                        Tamil
                                                                                                        Nadu
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Telangana ">
                                                                                                        Telangana
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Tripura ">
                                                                                                        Tripura
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Uttar Pradesh">
                                                                                                        Uttar
                                                                                                        Pradesh
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="Uttarakhand">
                                                                                                        Uttarakhand
                                                                                                    </option>
                                                                                                    <option
                                                                                                        value="West Bengal ">
                                                                                                        West
                                                                                                        Bengal
                                                                                                    </option>
                                                                                                </select>
                                                                                            </div>

                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="row">

                                                                                       

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <label>City / Town
                                                                                                </label>
                                                                                                <input type="text" class="form-control" name="place" value=" <%= x.place %>">
                                                                                            </div>

                                                                                        </div>

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <label>Pin code
                                                                                                </label>
                                                                                                <input type="text" class="form-control" name="pincode" value=" <%= x.pincode %>">
                                                                                            </div>

                                                                                        </div>


                                                                                   
 

                                                                                        <div class="col-sm-6">

                                                                                            <div class="form-group">
                                                                                                <label>Hosue No /
                                                                                                    Building
                                                                                                    no
                                                                                                </label>
                                                                                                <input type="text"
                                                                                                    class="form-control"
                                                                                                    name="house_no"
                                                                                                    placeholder="Hosue No / Building Name "
                                                                                                    value=" <%= x.house_no %>">
                                                                                            </div>

                                                                                        </div>



                                                                                    </div>


                                                                                    <button type="submit"
                                                                                        class="btn btn-dark float-end"
                                                                                        data-bs-dismiss="modal">Save</button>



                                                                                </form>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                    </div>

                                </div>
                                <% })} %>

                    </div>

                    <div class="buttons-set">
                        <td> <button type="button" class="butn-style2 dark" data-bs-toggle="modal"
                                data-bs-target="#add_address" style="border: none;">Add Address </button></td>


                        <br>
                    </div>


                </div>
            </div>
        </section>

        <!-- FOOTER
    ================================================== -->

        <%- include('./layout/footer.ejs') %>
</div>

<div class="modal fade" id="add_address" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add
                    Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="add">

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" name="name">
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" name="mobile">
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address">
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>State</label>
                                <select class="form-control form-select" name="state">
                                    <option selected="selected">

                                    </option>
                                    <option value="Andhra Pradesh">
                                        Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">
                                        Arunachal Pradesh</option>
                                    <option value="Assam">Assam
                                    </option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chhattisgarh">
                                        Chhattisgarh</option>
                                    <option value="Goa ">Goa </option>
                                    <option value="Gujarat ">Gujarat
                                    </option>
                                    <option value="Haryana ">Haryana
                                    </option>
                                    <option value="Himachal Pradesh ">
                                        Himachal Pradesh </option>
                                    <option value="Jharkhand ">Jharkhand
                                    </option>
                                    <option value="Karnataka ">Karnataka
                                    </option>
                                    <option value="Kerala ">Kerala
                                    </option>
                                    <option value="Madhya Pradesh ">
                                        Madhya Pradesh </option>
                                    <option value="Maharashtra ">
                                        Maharashtra </option>
                                    <option value="Manipur ">Manipur
                                    </option>
                                    <option value="Meghalaya ">Meghalaya
                                    </option>
                                    <option value="Mizoram ">Mizoram
                                    </option>
                                    <option value="Nagaland ">Nagaland
                                    </option>
                                    <option value="Odisha ">Odisha
                                    </option>
                                    <option value="Punjab ">Punjab
                                    </option>
                                    <option value="Rajasthan ">Rajasthan
                                    </option>
                                    <option value="Sikkim ">Sikkim
                                    </option>
                                    <option value="Tamil Nadu ">Tamil
                                        Nadu </option>
                                    <option value="Telangana ">Telangana
                                    </option>
                                    <option value="Tripura ">Tripura
                                    </option>
                                    <option value="Uttar Pradesh">Uttar
                                        Pradesh</option>
                                    <option value="Uttarakhand">
                                        Uttarakhand</option>
                                    <option value="West Bengal ">West
                                        Bengal </option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                       

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>City / Town </label>
                                <input type="text" class="form-control" name="place">
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Pin Code </label>
                                <input type="text" class="form-control" name="pincode">
                            </div>

                        </div>



                    </div>

                    <div class="row">

                      

                        <div class="col-sm-6">

                            <div class="form-group">
                                <label>Hosue No / Building Name </label>
                                <input type="text" class="form-control" name="house_no">
                            </div>

                        </div>

                    </div>



                    <button type="submit" class="btn btn-dark float-end" data-bs-dismiss="modal">Save</button>



                </form>
            </div>

        </div>
    </div>
</div>

 <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>


    <script>

        $(document).ready(function () {
            $('#add').submit(function (event) {
                event.preventDefault(); //prevent default form submit action
                var formData = $(this).serialize(); //serialize form data
                $.ajax({
                    type: 'POST',
                    url: '/add_address',
                    data: formData,
                    success:function (response) {
                        $('#reloadDiv').load('/address #reloadDiv')
                        console.log(response);
                        Swal.fire({
                            title: 'Added!',
                            text: 'Your address Added',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    },
                });
            });
        });


        function delete_address(add_id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You wan't to delete!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'yes, delete!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/delete_address",
                        data: {
                            address: add_id
                        },
                        method: 'post',
                        success: (response) => {
                           

                            $('#reloadDiv').load('/address #reloadDiv')
                           
                            Swal.fire({
                                title: 'deleted!',
                                text: 'Your deleted',
                                icon: 'success',
                                showConfirmButton: false
                            })
                            

                        }

                    })
                }
            })
        }

        
        $(document).ready(function () {
            $('#myform').submit(function (event) {
                event.preventDefault(); //prevent default form submit action
                var formData = $(this).serialize(); //serialize form data
                $.ajax({
                    type: 'POST',
                    url: '/edit-address',
                    data: formData,
                    success: function (response) {
                        console.log("edited");
                        $('#reloadDiv').load('/address #reloadDiv')
                        Swal.fire({
                            title: 'Edited!',
                            text: 'Your address edited',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    },
                    error: function (xhr, status, error) {
                        //handle error response
                    }
                });
            });
        });

       

        (() => {
            'use strict';


            const forms = document.querySelectorAll('.needs-validation');


            Array.prototype.slice.call(forms).forEach((form) => {
                form.addEventListener('submit', (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>