<%- include('./layout/header.ejs') %>
  

 <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="menu_area-light header-light-nav header-02">

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="/search" method="post">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white"
                                        type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s"
                                    autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i
                                        class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <a href="/" class="navbar-brand logodefault"><img id="logo" src="/img/elite logo2.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/home">Home</a>
                                            
                                        </li>
                                        <li><a href="/products">Shop</a>
                                            
                                        </li>
                                        <li><a href="/wishlist">Wishlist</a>
                                            
                                        </li>
                                        <li><a href="#">Profile</a>
                                            <ul>
                                                
                                                <li><a href="/profile">User Details</a></li>
                                                <%if(user == true){ %>
                                                    <li><a href="/logout">Log OUT</a></li>
                                                    <% }else{ %>
                                                        <li><a href="/login">Log In</a></li>
                    
                                                        <% } %>
                                                
                                                
                                            </ul>
                                        </li>
                                                
                                                
                                            
                                        
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav" id="cartCount">
                                        <ul>
                                            
                                            <li class="dropdown me-3 me-lg-0" >
                                                <a href="/cart" class="" data-bs-toggle="">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-primary" > </span>
                                                </a>
                                                
                                            </li>
<!--                                            
                                                <li class="dropdown me-3 me-lg-0">
                                                    <a href="/login" class="" data-bs-toggle="">
                                                        <i class="ti-bag"></i>
                                                        <span class="badge bg-primary"></span>
                                                    </a>
                                                </li>
                                                 -->
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>

      
        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/users/img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1></h1><%= category_name %></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#"><%= category_name %></a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- PRODUCT GRID
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row">

                    <!-- CATEGORY
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">

                    <!-- sidebar panel -->
                    <div class="col-lg-3 col-12 side-bar order-2 order-lg-1">
                        <div class="widget">
                            <div class="widget-title">
                                <h5>Categories</h5>
                            </div>
                            <div id="accordion" class="accordion-style2">
                                <% category.forEach((value) => {%>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <a href="/shopCategory/<%= value._id %>"><%= value.name %></a>
                                        
                                    </div>
                                    
                                </div>
                                <% }) %>
                               
                            </div>
                        </div>

                        

                    </div>
                    <!-- end sidebar panel -->

                    <!-- right panel section -->
                    <div class="col-lg-9 col-12 ps-lg-1-9 order-1 order-lg-2 mb-1-9 mb-lg-0">

                    

                        <div class="row justify-content-center" id="product">
                            <% if(product.quantity > 0){ %>

                            <% }else{ %>
                                <%=console.log(product.length)%>
                            <%if(product.length == 0){ %>
                                
                                <h1>product is empty</h1>
                                
                                <%} else{ %>
                                  <%  product.forEach((x) => { 
                                        %> 
        
                                    <div class="col-11 col-sm-6 col-xl-4 mb-1-9">
                                        <div class="product-grid">
                                            <div class="product-img">
                                                <a href="/productDetails/<%= x._id %>"><img src="/users/img/product-categories/<%=x.image[0] %>" alt="..."></a>
                                            </div>
                                            <div class="product-description">
                                                <h3><a href="/productDetails/<%= x._id %>"><%= x.name %></a></h3>
                                                <h4 class="price">
                                                                <span class="offer-price">₹<%= x.price %></span>
                                                            </h4>
                                            </div>
                                            <div class="product-buttons">
                                                <ul class="ps-0">
                                                    <li><a onclick="addToWishlist('<%=x._id%>')" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                                   
                                                    <% if(x.quantity > 0 ){ %>
                                                        <li><a onclick="addToCart('<%=x._id%>')"  class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                                                
                                                        <% }else{ %>
                                                            <button class="btn btn-danger"> Out Of Stock
                                                                </span></button>

                                                            <% } %>
                                                    <li><a href="/productDetails/<%= x._id %>" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <% })} %>
                            <%} %>
                            
                            


                            

                            
                        </div>

                        <!-- pagination -->
                        <div class="pagination text-small text-uppercase text-extra-dark-gray mt-4">
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                               
                                <% for(let i=1; i<=countpro; i++){ %>
                                    <li class="active"><a href="?page=<%=i%>"> <%= i %></a></li>
                                   <% } %>
                           
                                <li><a href="#">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li> 

                            </ul>
                        </div>
                        <!-- end pagination -->

                    </div>
                    <!-- end right panel section -->

                </div>
            </div>
        </section>
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> Smartshop is Powered by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-dark">Chitrakoot Web</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="/users/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="/users/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="/users/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="/users/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="/users/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        
    </div>



    
    <!-- BUY TEMPLATE
    ================================================== -->
    <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div>
    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
   
    <script src="/users/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/users/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/users/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/users/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/users/js/main.js"></script>
	
	<!-- all js include end -->
    <script>
        function addToWishlist(prodId){
            $.ajax({
                url:'/addToWishlist',
                data : {
                    productId : prodId
                },
                method : 'post',

                success : (res) =>{
                    if(res.success){
                        Swal.fire({
                            title : 'Added',
                            text : 'product added to wishlist',
                            position : 'center',
                            icon : 'success',
                            showConfirmButton : false,
                            timer : 1000
                        })
                        
                    }else{
                        Swal.fire({
                            title : 'Already Exist',
                            text : 'product already in wishlist',
                            icon : 'info',
                            showConfirmButton :false,
                            timer:1000
                        })
                    }
                }
            })
        }
     </script>

      <script>
        function addToCart(prodId){
            $.ajax({
                url:'/addtocart',
                data : {
                    productId : prodId
                },
                method : 'post',

                success : (res) =>{
                    if(res.success){
                        Swal.fire({
                            title : 'Added',
                            text : 'product added to cart',
                            position : 'center',
                            icon : 'success',
                            showConfirmButton : false,
                            timer : 1000
                        })
                        
                    }else{
                        Swal.fire({
                            title : 'Already Exist',
                            text : 'product already in cart',
                            icon : 'info',
                            showConfirmButton :false,
                            timer:1000
                        })
                    }
                }
            })
        }
    </script>
</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-product-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
</html>